# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Copied/Backup Directories
* copy/
* copy 2/
* copy*/

# Large Data Files / Samples
*.csv
*.zip
Sample_Input_1/
Sample_PV_Inputs/
Sample_PV_Inputs2/

# Others
*.log
.idea/
.vscode/

backend/app/uploads/
reports/
backend/app/reports/
