fastapi
uvicorn[standard]
langchain
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
spacy
pandas
python-docx
pypdf
langchain-groq
python-multipart
requests
openpyxl
python-dotenv
pymilvus[milvus_lite]

# Note: SciSpacy and its model must be installed explicitly due to direct URL dependencies:
# pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/scispacy-0.5.4.tar.gz
# pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz
